<div class="movie-id">

  <h1 class="movie-name">Movie Name:</h1>
  <p class="p1">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
    Nostrum voluptate consequuntur obcaecati. Aut reprehenderit aliquid labore
    dicta temporibus accusantium cumque voluptatum? Molestias doloremque
    distinctio blanditiis saepe harum debitis eaque neque.</p>

  <img src="images/poster.jpeg" alt="poster" />

  <h2 class="desc">Description:</h2>
  <p class="p2">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
    Molestias veritatis dignissimos a, aliquam quia doloribus quos sed fugit
    repudiandae rerum, cum ipsum, impedit repellat quidem. Dolor veritatis
    necessitatibus delectus voluptatibus.</p>
</div>

<!-- Form -->
<div class="form1">
  <div class="field">
    <label class="label">Add your Review Here</label>
    <div class="control">
      <textarea class="textarea" id="review-text" placeholder="Textarea"></textarea>
    </div>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <button class="button is-link" id="submit-review">Submit</button>
    </div>
    <div class="control">
      <button class="button is-link is-light">Cancel</button>
    </div>
  </div>
</div>


{{#each reviews as |review| }}
<div class="row mb-4 project">
    <div class="col-md-5">
        <h2>{{movie.title}}</h2>
        <img src="{{movie.image}}">
        <p>Created by {{user.email}} on {{format_date review.date_created}}</p>
        <p>
            {{review.review}}
        </p>
    </div>
</div>
{{/each}}

<script src="js/moviepage.js"></script>